body,
html {
  padding: 0;
  margin: 0;
  background-image: url("./mustang.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

.headline {
  font-size: 50px;
  font-family: "Carter One", cursive;
  color: rgb(220, 250, 250);
  text-align: center;
  -webkit-text-stroke: 3px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.2s;
  max-width: 242px;
  height: 210px;
  position: relative;
  background-color: blueviolet;
  top: 110px;
  margin: 20px;
  transition: 0.4s ease-in-out;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  height: 460px;
}
.incoming {
  text-align: center;
  position: relative;
  top: -33px;
  visibility: hidden;
  opacity: 0;
  transition: 0.4s ease-in-out;
}

.card:hover .incoming {
  visibility: visible;
  opacity: 1;
  margin-top: -18px;
}
.imgBox #beach {
  position: relative;
  width: 200px;
  height: 250px;
  top: -60px;
  left: 20px;
  border-radius: 7px;
}

.zip,
.feel,
.title {
  position: relative;
  text-align: center;
  padding: 5px;
  font-family: "Carter One", cursive;
  color: rgb(43, 41, 41);
}
#zip,
#feelings,
#generate {
  margin: 4px;
}

#generate {
  text-align: center;
  height: 35px;
  width: 140px;
  position: relative;
  background: rgb(199, 196, 29);
  color: aliceblue;
  font-size: 20px;
}

#entryHolder {
  visibility: hidden;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 10px;
  background: red;
  border: 5px solid black;
  background: olive;
  /* row-gap: 10px; */
}

.grid-item {
  background-color: (255, 255, 255, 0.75);
  border: 4px solid black;
  padding: 10px;
  font-size: 30px;
  text-align: center;
}

#entryHolder > div {
  text-align: center;
}
#namePlace {
  font-size: 40px;
  color: #fff;
}
